*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 8px 16px #ccc;
  text-align: center;
  border-radius: 12px;
}
h1{
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
.add-item-form{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input{
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 6px;
}
input:focus{
  outline: none;
  border-color: #0056b3;
}

button[type="submit"]{
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button[type="submit"]:hover{
  background-color: #0056b3;
}
button[type="button"]{
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #d51f1f;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button[type="button"]:hover{
  background-color: #a31515;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
thead{
  color: #fff;
}
th{
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #007bff;
}
td{
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}
tr:nth-child(even){
  background-color: #f9f9f9;
}
tr:nth-child(odd){
  background-color: #e6f0ff;
}
input[type="checkbox"]{
  cursor: pointer;
  transform: scale(1.2);
}

.item-riscado{
  text-decoration: line-through;
  color: #888;
}